li {
  list-style: none;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
  background: none;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}
