body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: wheat;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #81bfd2;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25);
  height: 60px;
}

main {
  height: calc(100dvh - 60px);
}

.logo {
  padding-top: 10px;
  height: 36px;
}

.icons {
  height: 24px;
  padding: 10px;
}

.icons-header {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #81bfd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer nav,
footer > div {
  min-width: 250px;
}

.logo-footer {
  height: 64px;
}

footer h3 {
  margin: 0;
}

@media (min-width: 600px) {
  header {
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    height: calc(100dvh - 112px);
  }

  .icons-nav {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    padding-right: 52px;
  }

  .logo-header {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
  }

  .logo {
    height: 75px;
    align-self: center;
  }

  .icons {
    height: 36px;
    padding: 24px;
  }
}
