.button {
  background-color: var(--buttons-color);
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  color: var(--text-color);
  padding: 8px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font);
}

p {
  font-family: var(--text-font);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: var(--background-color);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  font-family: var(--text-font);
  margin: 0;
}

button {
  font-family: var(--text-font);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25);
  height: 60px;
}

main {
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.profile img {
  height: 24px;
  padding: 10px;
}

#profile-checkbox {
  display: none;
}

#profile-checkbox:checked ~ nav {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background: var(--header-color);
  font-family: var(--headings-font);
  border-radius: 0 0 10px 10px;
  top: 60px;
  right: 0;
  padding: 20px 25px;
}

.dropdown a {
  color: var(--background-color);
}

.logo {
  padding-top: 10px;
  height: 36px;
}

.icons {
  height: 24px;
  padding: 10px;
}

.icons-header {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
  margin-top: 50px;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo-footer {
  height: 64px;
}

footer h3 {
  margin: 0;
}

footer nav,
footer div {
  width: 150px;
}

@media (min-width: 800px) {
  header {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo {
    height: 48px;
  }

  main {
    min-height: calc(100dvh - 90px);
  }

  .icons-nav {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    padding-right: 52px;
  }

  .logo-header {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px;
  }

  footer nav {
    flex-direction: row;
  }

  footer nav,
  footer div {
    width: unset;
  }
}
