:root {
  --background-color: #17171a;
  --header-color: #5d737e;
  --footer-color: #5d737e;
  --card-background-color: #131316;
  --card-border-color: #0a0a0b;
  --text-color: #cdced4;
  --buttons-color: #431b1b;
  --headings-font: "Carter One", sans-serif;
  --text-font: "SN Pro", sans-serif;
}
